*.js
*.js.map
*.log
scripts
demo/app/*.js
!demo/karma.conf.js
!demo/app/tests/*.js
demo/*.d.ts
demo/lib
demo/platforms
demo/node_modules
node_modules
.idea
.vscode
scripts/postclone.js

.idea/workspace.xml

.idea/nativescript-tooltip.iml

.idea/modules.xml

.idea/nativescript-tooltip.iml
